/* ::::: http://contact.apps.wix.com/embed/css/contact-us.css ::::: */

/* ::::: http://www.wix.com/support/main/html5/sites/default/files/css/css_xolF6SB21Gea8U8xVwuaJZ-_MsqXN1coGPfEVaLc7KQ.css ::::: */

.element-invisible { position: absolute ! important; clip: rect(1px, 1px, 1px, 1px); }
.element-invisible.element-focusable:active, .element-invisible.element-focusable:focus { position: static ! important; clip: auto; }
.clearfix:after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
:first-child + html .clearfix { min-height: 1%; }
ul.menu { border: medium none; list-style: none outside none; text-align: left; }
ul.menu li { margin: 0px 0px 0px 0.5em; }
ul li.leaf { list-style-image: url('menu-leaf.png'); list-style-type: square; }
li.expanded, li.collapsed, li.leaf { padding: 0.2em 0.5em 0px 0px; margin: 0px; }
li a.active { color: rgb(0, 0, 0); }
form { margin: 0px; padding: 0px; }
img { border: 0px none; }
.form-item, .form-actions { margin-top: 1em; margin-bottom: 1em; }
/* ::::: http://www.wix.com/support/main/html5/sites/default/files/css/css_Tn7EhC9Bwv_6Nwibi9JHMbeOYEgE5AFyEqA3UCJ2gTQ.css ::::: */

.dd { text-align: left; background-color: rgb(255, 255, 255); font-family: Arial,Helvetica,sans-serif; font-size: 12px; float: left; }
.dd .ddTitle { background: none repeat scroll 0% 0% rgb(242, 242, 242); border: 1px solid rgb(195, 195, 195); padding: 3px; text-indent: 0px; cursor: default; overflow: hidden; height: 16px; }
.dd .ddTitle span.arrow { background: url('dd_arrow.gif') no-repeat scroll 0px 0px transparent; float: right; display: inline-block; width: 16px; height: 16px; cursor: pointer; }
.dd .ddTitle span.ddTitleText { text-indent: 1px; overflow: hidden; line-height: 16px; }
.dd .ddChild { position: absolute; border-right: 1px solid rgb(195, 195, 195); border-width: medium 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(195, 195, 195) rgb(195, 195, 195); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; display: none; margin: 0px; width: auto; overflow-y: auto; overflow-x: hidden ! important; background-color: rgb(255, 255, 255); }
.dd .ddChild a { display: block; padding: 2px 0px 2px 3px; text-decoration: none; color: rgb(0, 0, 0); overflow: hidden; white-space: nowrap; cursor: pointer; }
.dd .ddChild a:hover { background-color: rgb(102, 204, 255); }
.dd .ddChild a.selected { background-color: rgb(102, 204, 255); }
#edit-lang-dropdown-select_child .selected { display: none; }
/* ::::: http://www.wix.com/support/main/html5/sites/default/files/css/css_AjsjPuFDgMcT7KMXjVSoDIxZcui_CLGQ_R7XuEohn4k.css ::::: */

/* ::::: http://fonts.googleapis.com/earlyaccess/nanumgothic.css ::::: */

@font-face {
	font-family: "Nanum Gothic";
	font-style: normal;
	font-weight: 700;
	src: url('nanumgothic-bold.eot') format("embedded-opentype"), url('nanumgothic-bold.woff2') format("woff2"), url('nanumgothic-bold.woff') format("woff"), url('nanumgothic-bold.ttf') format("truetype");
}
@font-face {
	font-family: "Nanum Gothic";
	font-style: normal;
	font-weight: 400;
	src: url('nanumgothic-regular.eot') format("embedded-opentype"), url('nanumgothic-regular.woff2') format("woff2"), url('nanumgothic-regular.woff') format("woff"), url('nanumgothic-regular.ttf') format("truetype");
}
@font-face {
	font-family: "Nanum Gothic";
	font-style: normal;
	font-weight: 800;
	src: url('nanumgothic-extrabold.eot') format("embedded-opentype"), url('nanumgothic-extrabold.woff2') format("woff2"), url('nanumgothic-extrabold.woff') format("woff"), url('nanumgothic-extrabold.ttf') format("truetype");
}
audio:not([controls]) { display: none; }
html { font-size: 100%; overflow-y: scroll; }
body { margin: 0px; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: rgb(34, 34, 34); }
*::-moz-selection { background: none repeat scroll 0% 0% rgb(221, 221, 221); color: rgb(17, 17, 17); text-shadow: none; }
form { overflow: auto; margin: 0px; }
button, input, select, textarea { font-size: 100%; margin: 0px; vertical-align: baseline; }
button, input { line-height: normal; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
input[type="text"], input[type="password"], input[type="select"], input[type="search"] { width: 99%; display: block; }
input[type="submit"], input[type="reset"], input[type="button"] { cursor: pointer; }
select { display: block; margin: 0px; }
input:valid, textarea:valid {  }
tr:nth-child(2n) td {  }
 
b, strong { font-weight: bold; }
ul, ol { margin: 1em 0px; padding: 0px 0px 0px 40px; }
img { border: 0px none; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
a { color: rgb(0, 0, 238); }
a:visited { color: rgb(85, 26, 139); }
a:hover { color: rgb(0, 102, 238); }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0px none; }
.inline_block { font-size: 0px; text-align: center; }
.inline_block > * { display: inline-block; vertical-align: top; font-size: 14px; }
.nav ul, ol { font-size: 0px; text-align: center; }
.nav ul li, ol li { display: inline-block; vertical-align: top; font-size: 14px; }
.nav ul li a, ol li a { display: block; padding: 0px 10px; }
.nav ul li:hover a { color: rgb(68, 68, 68); }
.clearfix {  }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.navigation_seperator > :first-child .after, .navigation_seperator > :first-child:after { border: medium none; }
.shadow { position: relative; z-index: 1; }
.shadow:before, .shadow:after { content: url('bg_shadow.png'); height: 12px; width: 32px; display: block; position: absolute; right: 42px; z-index: -1; bottom: -6px; }
.shadow:before { left: 42px; right: 0px; transform: scaleX(-1); }
.button, .button:hover { border-style: solid; border-color: transparent; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 1px 0px 0px 1px; margin-bottom: 10px; text-align: center; position: relative; color: rgb(255, 255, 255); z-index: 1; }
.button:after { height: 12px; width: 77px; display: block; position: absolute; right: 0px; bottom: -9px; z-index: -1; content: url('bg_shadow.png'); }
.styled_button { min-width: 119px; border-width: 1px; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-color: rgb(42, 178, 227) rgb(0, 157, 215) rgb(0, 137, 197) rgb(0, 152, 207); width: auto; padding: 0px 10px; height: 28px; color: rgb(255, 255, 255) ! important; line-height: 28px; background: linear-gradient(rgb(0, 156, 215), rgb(0, 143, 206)) repeat scroll 0% 0% transparent; border-radius: 4px; }
.styled_button:hover, .styled_button.active { background: none repeat scroll 0% 0% rgb(247, 187, 5); border: 1px solid transparent ! important; }
@font-face {
	font-family: "Nanum Gothic";
	font-style: normal;
	font-weight: 400;
	src: url('nanumbrushscript-regular.eot') format("embedded-opentype"), url('nanumbrushscript-regular.woff2') format("woff2"), url('nanumbrushscript-regular.woff') format("woff"), url('nanumbrushscript-regular.ttf') format("truetype");
}
@font-face {
	font-family: "Helvetica45";
	font-style: normal;
	font-weight: normal;
	src: url('helvetica45.eot') format("embedded-opentype"), url('helvetica45.woff') format("woff"), url('helvetica45.ttf') format("truetype"), url('helvetica45.svg') format("svg");
}
@font-face {
	font-family: "Helvetica55";
	font-style: normal;
	font-weight: normal;
	src: url('helvetica55.eot') format("embedded-opentype"), url('helvetica55.woff') format("woff"), url('helvetica55.ttf') format("truetype"), url('helvetica55.svg') format("svg");
}
@font-face {
	font-family: "Helvetica65";
	font-style: normal;
	font-weight: normal;
	src: url('helvetica65.eot') format("embedded-opentype"), url('helvetica65.woff') format("woff"), url('helvetica65.ttf') format("truetype"), url('helvetica65.svg') format("svg");
}
@font-face {
	font-family: "Helvetica45_ru";
	font-style: normal;
	font-weight: normal;
	src: url('helvetica45_ru.eot') format("embedded-opentype"), url('helvetica45_ru.woff') format("woff"), url('helvetica45_ru.ttf') format("truetype"), url('helvetica45_ru.svg') format("svg");
}
@font-face {
	font-family: "Helvetica55_ru";
	font-style: normal;
	font-weight: normal;
	src: url('helvetica55_ru.eot') format("embedded-opentype"), url('helvetica55_ru.woff') format("woff"), url('helvetica55_ru.ttf') format("truetype"), url('helvetica55_ru.svg') format("svg");
}
@font-face {
	font-family: "Helvetica65_ru";
	font-style: normal;
	font-weight: normal;
	src: url('helvetica65_ru.eot') format("embedded-opentype"), url('helvetica65_ru.woff') format("woff"), url('helvetica65_ru.ttf') format("truetype"), url('helvetica65_ru.svg') format("svg");
}
.GoTop, #teaser h1 > span, .subterm .faq_menu h2, #categories_nav ul > li > a, html, body { font-family: "helvetica55",helvetica,serif; }
.subterm #teaser h1 > span, h1, h2, h3, h4 { font-family: "helvetica45",helvetica,serif; font-weight: normal; }
a { font-family: "helvetica45",helvetica,serif; }
#teaser a, strong, b, table tr:first-child td, .help_box.categories .styled_button input[type="submit"] { font-family: "helvetica65",helvetica,serif; }
.i18n-ru .subterm #content h2, #edit-lang-dropdown-select_msa_6 > span, .i18n-ru a { font-family: "helvetica45_ru",helvetica,serif; }
.i18n-ko .subterm #content h2, #edit-lang-dropdown-select_msa_6 > span, .i18n-ko a { font-family: "Nanum Gothic",sans-serif; }
textarea.form_text, input.form_text { padding: 0px 40px 0px 10px; background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid rgb(178, 178, 178); border-radius: 6px; box-shadow: 0px 0px 4px rgb(204, 204, 204); position: relative; }
input.form_text { height: 50px; line-height: 50px; }
.search_submit { position: absolute; top: 2px; right: 5px; height: 48px; width: 60px; padding: 0px 0px 0px 25px; text-indent: -9999px; border-width: medium medium medium 1px; border-style: none none none solid; border-color: -moz-use-text-color -moz-use-text-color -moz-use-text-color rgb(207, 207, 207); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-radius: 0px 6px 6px 0px; }
.styled_box { background: none repeat scroll 0% 0% rgb(243, 242, 242); padding: 30px; border: 3px solid rgb(255, 255, 255); border-radius: 10px; box-shadow: 0px 0px 10px rgb(221, 221, 221); position: relative; z-index: 2; }
.styled_box .inner { border: 3px solid rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(255, 255, 255); padding: 10px; border-radius: 10px; box-shadow: 1px 1px 1px rgb(204, 204, 204) inset; position: relative; z-index: 2; overflow: hidden; }
.node_content ul, .styled_list { list-style: none outside none; }
.node_content ul > li, .styled_list li { position: relative; text-indent: 15px; margin-bottom: 10px; font-size: 18px; }
.node_content ul > li:before, .styled_list li:before { content: " "; display: block; position: absolute; width: 0px; height: 0px; margin: 0px; padding: 0px; top: 30%; border: 4px solid rgb(247, 187, 5); border-radius: 10px; direction: ltr; }
.node_content ul > li > a:hover, .styled_list li > a:hover { color: rgb(37, 37, 37); text-decoration: underline; }
html, body { height: 100%; font-size: 14px; color: rgb(37, 37, 37); }
a, a:active, a:visited { color: rgb(37, 37, 37); text-decoration: none; outline: medium none; }
ul { padding: 0px; margin: 0px; }
img { outline: medium none; }
body { margin: 0px; padding: 0px; }
#wrapper { margin: 0px auto; overflow: hidden; }
#main-container, #second-container, #third-container { display: inline-block; vertical-align: top; }
#slidebar { display: inline-block; }
.container { width: 960px; margin: 0px auto; position: relative; overflow: hidden; padding: 0px 10px; }
.anotherwrapper { min-height: 100%; width: 900px; z-index: 0; }
#main > * { display: inline-block; vertical-align: top; font-size: 14px; }
#main #content { height: 100% ! important; }
#connectors { position: relative; top: -40px; z-index: 200; text-align: right; height: 0px; right:160px; }
#edit-lang-dropdown-select_child { line-height: 13px; }
#connectors span { padding: 5px; }
#branding { height: 100px; position:absolute ; z-index: 36666666; }
#block-menu-menu-main-menu-en, #logo { margin-top: 29px; float: left; }
#block-menu-menu-main-menu-en h2 { display: none; }
#block-menu-menu-main-menu-en .menu { height: 36px; }
#block-menu-menu-main-menu-en .menu > li { margin-top: 20px; }
#block-menu-menu-main-menu-en .menu > li > a { font-size: 16px; color: rgb(61, 61, 61); }
#block-menu-menu-main-menu-en .menu > li > a:hover { color: rgb(0, 0, 0); font-weight: normal ! important; }
#languages { position: absolute; top: 50px; right: 0px; padding-left: 25px; }
#languages .form-item { margin: 0px; }
#languages .dd { width: 100px ! important; background: none repeat scroll 0% 0% transparent; padding: 2px; }
#languages .dd .ddTitle { border: medium none; background: none repeat scroll 0% 0% transparent; height: 17px; padding: 0px; }
#languages .dd .ddTitleText { font-size: 14px; }
#languages .dd .ddTitle span.arrow, dd2 .ddTitle span.arrow { height: 7px; margin-top: 5px; top: 0px; width: 9px; }
#languages .dd .ddChild { height: auto ! important; border: medium none; background-color: rgb(255, 255, 255); }
#languages .dd .ddChild a { padding: 5px 0px 5px 3px; }
#languages.dd .ddChild a.selected, .dd .ddChild a.enabled { background-color: transparent; }
#teaser {
	bottom: 106px;
	position: absolute;
	right: 464px;
	text-align: left;
	width: 624px;
	height: 147px;
}

#teaser .teaser_head { font-size: 50px; clear: both; margin: 0px; font-weight: normal; }
#teaser .teaser_head > span { display: block; width: 100%; }
#search_form, #inner_search_form { display: block; width: 100%; overflow: visible; height: 65px; margin-top: 30px; }
#search_form .shadow:after, #inner_search_form .shadow:after { bottom: -7px; }
#search_form .shadow:before, #inner_search_form .shadow:before { content: ""; }
#search_form .form_text, #inner_search_form .form_text { display: block; width: 90%; font-size: 20px; color: rgb(170, 170, 170); }
#nanorep-autocomplete { display: none; position: absolute; z-index: 210; box-shadow: 0px 0px 4px rgb(204, 204, 204); width: 562px; background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid rgb(178, 178, 178); border-radius: 0px 0px 6px 6px; font-size: 19px; }
#sidebar { width: 232px; padding-bottom: 20px; }
#categories_nav ul { width: 232px; text-align: left; }
#categories_nav ul > li > a { width: 167px; line-height: 50px; font-size: 17px; color: rgb(255, 255, 255); height: 50px; padding-right: 20px; padding-left: 16px; text-align: left; }
#categories_nav ul > li > a.active, #categories_nav ul > li > a:hover { width: 206px; font-weight: bold; }
#categories_nav ul > li > a:after { content: url('bg_shadow_categorynav.png'); width: 46px; height: 7px; bottom: 17px; }
@media not all {
	#categories_nav ul > li > a:after { bottom: 17px; }
}
#categories_nav ul > li > a.active:after, #categories_nav ul > li > a:hover:after { left: 0px; right: 0px; bottom: 18px; transform: scaleX(-1); }
#answers_banner { cursor: pointer; }
.support { width: 203px; min-height: 123px; background: none repeat scroll 0% 0% rgb(37, 37, 37); border-radius: 10px 10px 0px 0px; position: relative; color: rgb(255, 255, 255); font-size: 16px; text-align: center; }
.support:after { content: url('bg_term_sidebar_block.jpg'); height: 17px; width: 214px; display: block; position: absolute; left: -5.5px; bottom: -17px; }
.support p { padding: 10px 0px; margin: 0px; }
.support img { width: 167px; height: 35px; display: block; margin: 0px auto; }
.support img + p { font-size: 12px; width: 180px; margin: 0px auto; padding-bottom: 0px; }
.support img + p > a { color: rgb(255, 201, 5); }
#content { width: 566px; font-size: 18px; margin-left: 30px; padding-top: 10px; }
#content > * { margin-bottom: 20px; }
#content h1, #content h2 { font-weight: normal; font-size: 30px; margin: 0px 0px 10px; }
#content .faq_menu { text-align: left; }
#content .faq_menu h1, #content .faq_menu h2 { width: 100%; }
#content .faq_menu .styled_list > li { text-indent: 25px; }
#content .faq_menu .styled_list > li:before { border: medium none; content: url('arrow_faq_menu.png'); height: 15px; left: -25px; top: 1px; width: 205px; margin: 0px; }
.styled_list_content{
	font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:100; text-align:justify;

}
.help_boxes { width: 3100px; margin-bottom: 20px; text-align: left; display: none; }
.help_box { margin-right: 40px; width: 900px; }
.help_box .inner { font-size: 16px; }
.help_box .inner p { font-size: 16px; }
.help_box .inner a, .help_box .inner a:hover { color: rgb(0, 156, 215); }
.help_box .inner a:hover { text-decoration: underline; }
.help_box .inner h3 { font-weight: normal; text-indent: 5px; margin-top: 0px; font-size: 18px; }
.help_box .styled_button { height: 35px; display: inline-block; line-height: 35px; min-width: 0px; margin-left: 10px; border-color: rgb(170, 170, 170) ! important; }
.help_box .styled_button:hover { border-color: rgb(221, 221, 221) ! important; }
.help_box .styled_button:after { bottom: 0px; right: -8px; }
.help_box .question-cont .header { padding-left: 30px; background: url('arrow-down.png') no-repeat scroll 0px 5px transparent; }
.help_box .header { min-height: 20px; margin-left: 5px; cursor: pointer; }
.help_box .header .close { position: absolute; top: 15px; right: 30px; display: block; height: 25px; width: 25px; font-size: 0px; }
.help_box .header h3 { font-size: 20px; font-family: "helvetica55",helvetica,serif; }
.help_box .footer { min-height: 30px; margin-left: 5px; }
.help_box .footer .footer_message { float: right; font-size: 18px; margin-bottom: 0px; }
.help_box .footer .powered { position: absolute; bottom: 10px; left: 30px; font-size: 11px; }
.help_box .footer .powered .nanorep { display: inline-block; font-size: 0px; height: 20px; width: 60px; position: relative; top: 6px; }
.help_box.categories h3 + h3 { font-weight: bold; }
.help_box.categories .category { padding-bottom: 25px; }
.help_box.categories .footer, .help_box.categories .subcategory { clear: both; display: none; }
.help_box.categories .styled_button { clear: both; display: none; padding-top: 1px; float: left; }
.help_box.categories .styled_button:after { bottom: -1px; }
.help_box.categories .styled_button input[type="submit"] { background: none repeat scroll 0% 0% transparent; border: medium none; color: rgb(255, 255, 255); font-size: 16px; }
.help_box.suggestions .header { min-height: 60px; }
.help_box.suggestions .inner { padding: 30px; }
.help_box.suggestions .styled_list { margin-left: 20px; }
.help_box.suggestions .inline_block { text-align: left; }
.help_box.suggestions .inline_block h3 { line-height: 35px; height: 35px; margin: 0px; }
.help_box.suggestions .inline_block ul { list-style: none outside none; margin: 0px 35px 0px 15px; }
.help_box.suggestions .inline_block > ul > ul { display: none; position: absolute; z-index: 3; padding-top: 10px; margin: -15px 0px 0px; }
#footer { color: rgb(121, 121, 121); margin: 0px 0px; }
#block-menu-menu-footer-nav-en { margin-bottom: 20px; }
#block-menu-menu-footer-nav-en h2 { display: none; }
#block-menu-menu-footer-nav-en li { padding: 0.2em 0.5em 0px; margin: 0px; position: relative; }
#block-menu-menu-footer-nav-en li:after { content: ""; border-right: 1px solid black; height: 10px; display: block; position: absolute; top: 50%; margin-top: -4px; left: 0px; }
#block-menu-menu-footer-nav-en li:first-child:after { border: medium none; }
#block-menu-menu-footer-nav-en a { color: rgb(0, 0, 0); font-size: 12px; padding: 0px; }
#footer p { text-align: left; font-size: 11px; padding: 0px; margin: 0px; }
#footer #block-menu-menu-footer-nav-en + p { color: rgb(52, 52, 52); }
.node_content p { font-size: 16px; line-height: 28px; }
#user_cont { position: absolute; top: 20px; right: 5px; }
#user_cont a { cursor: pointer; }
#user_cont a:hover { text-decoration: underline; }
#categories_nav .button { background: url('button_term_menu.png') no-repeat scroll left top transparent; }
#categories_nav .button.active, #categories_nav .button:hover { background: url('button_term_menu_active.png') no-repeat scroll left top transparent; }
.support img + p { background: url('seperator_support.png') no-repeat scroll left top transparent; }
.search_submit { background: url('ge_magnifying_glass.png') no-repeat scroll center center rgb(247, 187, 5); }
#languages { background: url('icon_world.png') no-repeat scroll left top transparent; }
#languages .dd .ddTitle span.arrow, dd2 .ddTitle span.arrow { background-image: url('ge_arrow.png'); }
.help_box .header .close { background: url('ge_close.png') no-repeat scroll left top transparent; }
.help_box .footer .powered .nanorep { background: url('logo_nano.png') no-repeat scroll left top transparent; text-indent: -9999px; }
.i18n-en .support img { background: url('support_wixanswers_english.jpg') no-repeat scroll left center transparent; }
/* ::::: http://static.wix.com/services/wix-users/2.179.0/login/flows/native/flow.css ::::: */

#user-auth-dialog-container { text-align: left; font-family: arial; width: 511px; padding: 0px 0px 38px; color: rgb(85, 85, 85); font-size: 14px; background: url('bg-shadow.png') no-repeat scroll center bottom transparent; }
#user-auth-dialog-container:after, #user-auth-dialog-container .action-box:after, #user-auth-dialog-container .dialog-body:after, #user-auth-dialog-container .dialog-tab:after, #user-auth-dialog-container .clearfix:after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
